.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 3rem;
}


.body {
  min-height: 100%;

  display: grid;

  place-items: center;
}

.welcome{
  margin: 2rem 0;
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(0, 33, 65);
  justify-content: center;
  font-style: italic;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: fit-content;
  animation: scroll 40s linear infinite;
  flex-direction: row;
  white-space: nowrap;
  
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  width: 100%;
  transition: transform 1s; /* Change 1% to 1s for 1-second duration */
}

img:hover {
  transform: translateZ(20px);
}

/* GRADIENT SHADOWS */
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15px;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
  .banner > h1 {
    margin: 2vmax; /* Adjusted margin for smaller screens */
    font-size: 2vmax; /* Adjusted font size for smaller screens */
  }

  .banner > p {
    font-size: 1.2vmax; /* Adjusted font size for smaller screens */
  }

  .banner > a > button {
    margin-bottom: 2vmax; /* Adjusted margin for smaller screens */
    width: 12vmax; /* Adjusted width for smaller screens */
    font-size: 0.8vmax; /* Adjusted font size for smaller screens */
  }

  .homeHeading {
    font-size: 1.2vmax; /* Adjusted font size for smaller screens */
    width: 70vmax; /* Adjusted width for smaller screens */
    margin: 3vmax auto; /* Adjusted margin for smaller screens */
  }

  .container {
    margin: 1vmax auto; /* Adjusted margin for smaller screens */
    gap: 1.5rem; /* Adjusted gap for smaller screens */
  }

  .welcome {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .slider {
    height: 150px; /* Adjusted height for smaller screens */
    width: 100%; /* Adjusted width for smaller screens */
  }

  .slide {
    height: 120px; /* Adjusted height for smaller screens */
    width: 100%; /* Adjusted width for smaller screens */
  }

  img {
    width: 100%;
  }

  .productCard > p {
    font-size: 1.5vmax; /* Adjusted font size for smaller screens */
  }

  .productCard > span {
    font-size: 1.2vmax; /* Adjusted font size for smaller screens */
  }

  .productCard > div > span {
    margin: 0.2vmax; /* Adjusted margin for smaller screens */
    font-size: 0.8vmax; /* Adjusted font size for smaller screens */
  }
}
